<app-dashboard></app-dashboard>
<div></div>
<div class="container">
    <div class="row">

        <div class="col-md-8">
            <div class="card mb-2 shadow-sm">
                <div class="card-header">
                    <div class="post-head">
                        <p style="font-size: 1.5em; font-weight: bold">{{profile.firstName + " " + profile.lastName}}</p>
                        <small class="text-muted float-right">right</small>
            
                        <div class="group-actions">
                            <button mat-button (click)="ShowContent('info')"> <mat-icon>assignment_ind</mat-icon> Profile </button>
                            <!--<button mat-button (click)="ShowContent('posts')"> <mat-icon>sort</mat-icon> Posts </button>-->
                            <button mat-button (click)="ShowContent('connections')"> <mat-icon>group</mat-icon>Conections</button>
                            <button class="float-right" mat-button routerLink="/preferences">
                                <mat-icon>group_add</mat-icon> Manage Profile
                            </button>
                        </div>
                    </div>
                </div>
                <div *ngIf="show === 'info'">
                    <div class=" card-body user-info">
                        <ul>
                            <p style="font-size: 1.5em; font-weight: bold">About Me</p>
                            <li>First Name: {{profile.firstName}}</li>
                            <li>Last Name: {{profile.lastName}}</li>
                            <li>Gender: {{profile.gender}}</li>
                            <li>Date Of Birth: {{profile.dateOfBirth}}</li>
                        </ul>
                            
                        <ul>
                            <p style="font-size: 1.5em; font-weight: bold">Contact and more</p>
                            <li>Email Address: {{profile.email}}</li>
                            <li>Username: {{profile.username}}</li>
                            <li>Joined: {{profile.joined}}</li>
                            <li>Last seen: {{profile.joined}}</li>
                        </ul>
                    </div>

                    <div class="card-body">
                        <h6 style="font-size: 1em; font-weight: bold">Posts</h6>
                        <div *ngIf="posts.length > 0; elseBlock">
                            <div *ngFor="let post of posts" class="profile-posts">
        
                                <div class="float-left" style="width: 10%; height: inherit; position: absolute;">
                                    <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                                </div>
        
                                <div style="margin-left: 13%; margin-right: 20px; padding-top: 15px;">
                                    <h6 style="font-weight: bold">
                                        {{post.profile.firstName}} {{post.profile.lastName}}
                                        <small class="text-muted float-right">{{post.creation | date:'medium'}}</small>
                                    </h6>
                                    
                                    <p ngbDropdown  class="group">
                                        <small class="text-muted">Group: <a routerLink="groups/{{post.group.groupName}}">{{post.group.groupName}}</a></small>
                                        <small ngbDropdownToggle class="float-right"><mat-icon>more_horiz</mat-icon>
                                            <div ngbDropdownMenu style="padding: 0">
                                            <button ngbDropdownItem>Action - 1</button>
                                            <button ngbDropdownItem>Another Action</button>
                                            <button ngbDropdownItem>Something else is here</button>
                                            </div>
                                        </small>
                                    </p>
                                    <!--POST-->
                                    <p>{{post.postText}}</p>
        
                                    <div class="group-actions" style="padding: 0; border: 1px solid #f7f7f7">
                                        <div class="btn-group">
                                            <button mat-icon-button (click)="likePost(post.id)" matTooltip="Like">
                                            <mat-icon>thumb_up_alt</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Share" (click)="sharePost(user, post.id)">
                                            <mat-icon>share</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Comments">
                                            <mat-icon>comment</mat-icon>
                                            </button>
                                        </div>
                                        <!--Right-->
                                        <div class="float-right">
                                            <button mat-icon-button matTooltip="collaborate">
                                            <mat-icon>format_quote</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Dispute">
                                            <mat-icon>pan_tool</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ng-template #elseBlock>
                            <div>
                              <p style="margin-left: 35%"><mat-icon style="font-size: 15em">announcement</mat-icon></p><br>
                              <h6 style="font-size: 1.2em; text-align: center">You have not posted anything.</h6>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="card-body" *ngIf="show === 'connections'">
                    <h6 style="font-size: 1em; font-weight: bold">Connections</h6>
                    <div *ngFor="let connection of connections">
                        <mat-list-item *ngIf="connection.accepted === true">
                        <div class="requests d-flex justify-content-between align-items-center bottom-actions">
                            <div class="float-left" style="width: 10%; height: inherit; position: absolute;">
                                <mat-icon style="font-size: 80px;">account_circle</mat-icon>
                            </div>
                            <div class="user-info" style="padding-left: 13%; padding-top: 3%">
                                <p *ngIf="connection.receiver.id === user">
                                    <a routerLink>{{connection.requester.firstName + " " + connection.requester.lastName}}</a>
                                    sent you a connection request.
                                    <br style="padding: 0; margin: 0">
                                    <small>Joined: {{connection.requester.joined | date:'medium'}}</small>
                                </p>
                                <p *ngIf="connection.requester.id === user">
                                    <a routerLink>{{connection.receiver.firstName + " " + connection.receiver.lastName}}</a>
                                    sent you a connection request.
                                    <br style="padding: 0; margin: 0">
                                    <small>Joined: {{connection.receiver.joined | date:'medium'}}</small>
                                </p>
                            </div>
                            <div class="action-buttons" style="padding: 0; margin: 0;">
                                <button class="acc" (click)="cancelConnection(connection.id)" class="float-right" style="margin-left: 50" mat-icon-button>
                                    <mat-icon>check</mat-icon>
                                </button>
                            </div>
                        </div>
                        </mat-list-item>
                    </div>
                </div>

                
            </div>
            </div>  
        
            <!-- Right pane -->
            <div class="col-md-4">
                <div class="card mb-2 shadow-sm" style="padding-top: 15px">
                    <div class="info card-body">
                        <svg class="bd-placeholder-img rounded-circle" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                        <h5>{{profile.firstName + " " + profile.lastName}}</h5>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                        <p><a class="btn btn-secondary" style="color: #fff;" routerLink="profile" role="button">View profile »</a></p>
                    </div>
                </div>
            </div>
    
    </div>
</div>