<!--<p mat-dialog-title>Select your connections tags</p><hr>-->
<div class="add-members" mat-dialog-content>
    <form>
        <div class="search-container">
            <mat-form-field style="width: 100%">
                <input matInput #input placeholder="Search profiles to tag.">
            </mat-form-field>
        </div>      
    </form>
    <form #selectForm="ngForm">
        <div class="tags">
            <ol *ngFor="let connection of connections">
                <!--<li>
                    <a routerLink>
                        {{connection.requester.firstName}} {{connection.requester.lastName}}
                    </a>
                    <mat-checkbox (change)="onChange($event)" [value]="connection.requester" name="members" class="float-right"></mat-checkbox>
                </li>-->
                <li *ngIf="connection.requester.id == user && connection.accepted">
                    <a routerLink>
                        {{connection.receiver.firstName}} {{connection.receiver.lastName}}
                    </a>
                    <button class="float-right" mat-raised-button (click)="AddGroupMember(connection.receiver.id)" cdkFocusInitial>Add Tags</button>
                </li>
                <li *ngIf="connection.receiver.id == user && connection.accepted">
                    <a routerLink>
                    {{connection.requester.firstName}} {{connection.requester.lastName}}
                    </a>
                    <button class="float-right" mat-raised-button (click)="AddGroupMember(connection.requester.id)" cdkFocusInitial>Add Tags</button>
                </li>
            </ol>   
        </div>
    </form>
</div>