<nav class="site-header sticky-top py-1">
  <div class="container link d-flex flex-column flex-md-row justify-content-between">    
    <div class="home d-flex flex-column flex-md-row justify-content-between">
      <button mat-button class="py-2" style="display: inline-flex">
        <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>-->
        <mat-icon>donut_large</mat-icon>
        CliQue
      </button>
    </div>

    <div class="list float-right d-flex flex-column flex-md-row justify-content-between">
      <button mat-button style="cursor: pointer" class="py-2" routerLink="/notifications">
        <mat-icon matBadge="15" matBadgeSize="small" matBadgeColor="primary">
          notifications
        </mat-icon>
      </button>
      <button mat-button style="cursor: pointer" class="py-2" routerLink="/chats">
        <mat-icon matBadge="3" matBadgeSize="small" matBadgeColor="secondary">
            question_answer
        </mat-icon>
      </button>
      <button mat-button class="py-2" ngbDropdown #myDrop="ngbDropdown">
        <mat-icon matBadgeSize="small" ngbDropdownToggle matBadgeColor="secondary">
            account_circle
        </mat-icon>
        <!--Hidden Menu-->
        <div ngbDropdownMenu aria-labelledby="dropdownConfig">
          <button ngbDropdownItem>Manage Profile</button>
          <button routerLink="/preferences" ngbDropdownItem>Preferences</button>
          <button ngbDropdownItem (click)="logout()">Logout</button>
        </div>
      </button>

    </div>
  </div>
</nav>